<h1><%= @doctor.name %>: Appointments </h1>
<%= link_to 'Add Appointment', new_doctor_appointment_path(@course) %>
<hr />
<h2>Patient</h2>
<ul>
  <% @patients.each do |patient| %>
    <li>
      <%= patient.user.full_name %>
      <br />
      <%= link_to 'Remove', doctor_appointment_path(@doctor, patient), method: :delete %>
    </li>
  <% end %>
</ul>